*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #eeeeef;
    font-family: Cabin;

}


.footer_euro{
    display: flex;
    padding-top:  20px;
}

.footer_euro img{
    height: 33px;
}



.footer_euro p{
    color: #F8FDFE;
    font-family: Cabin;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    padding-right: 10px;
    padding-top: 5px;
}



.header_img{
    width: 126px;
    height: 29px;
    padding-top: 20px;
}

.header{
    display: flex;
    background: #10BBD5;
    justify-content: space-between;
    padding: 0 52px;
    height: 70px;
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000; 

}




.small_header{
    display: flex;
    background-color: white;
    justify-content: space-between;
    padding: 0 52px;
    position: relative;

    right: 0;
    left: 0;
    list-style: none;
} 

.small_header p{
    color: #000;
    font-family: Cabin;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    
}
.header_list{
    display: flex;
    padding-top: 3px;

}
.header_list a{
    text-decoration: none;
    color: #000;
    font-family: Cabin;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    margin-left: 20px;
}
.list_1х3{
    display: flex;
}
.sale2{
    display: flex;
}

.text{
    color: #1F1F1F;
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    margin-top: 48px;
    padding-left: 52px;
}

.line{
    margin: 24px 52px 24px 52px;
    
    border-top: 1px solid #A8A8A8;
}


.cart{
    
    border: 1px solid #A8A8A8;
    margin-left: 52px;
    margin-right: 52px;
    padding: 32px;
    width: 242px;
    height: 448px;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    background-color: #F8FDFE;
}

.cart h2{
    color: #1F1F1F;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px
    
}

.line-content{
    align-self: stretch;
    border-top: 1px solid #A8A8A8;
}

.cart h3{
    color:#8E8E8E;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.cart span{
    color: #E90000;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px; /* 133.333% */
    padding-top: 8px;
    padding-bottom: 16px;
}

.price{
    display: flex;

}

.discount{
    color: #8E8E8E;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px; /* 133.333% */
    text-decoration-line: strikethrough;
    padding-left: 24px;
}



.button{
    border-radius: 4px ;
    display: flex;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: #744978;
    border-color: #744978;
}

.button p{
    color: #F8FDFE;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; /* 150% */
}


.button:hover{
    border-radius: 4px;
    background: #4C394E;
}

.button-acctive{
    border-radius: 4px ;
    display: flex;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: #6DB236;
    border-color: #6DB236;
}


.button-acctive p{
    color: #F8FDFE;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; /* 150% */
}

.button-acctive:hover{
    background: #4D762D;
    border-color: #4D762D;
}

.image{
    text-align: center;

}


.hit{
    width: 36px;
    height: 32px;
    position: relative;
    top: 31px;
    right: 20px;
    padding: 4px 8px;
    border-radius: 4px;
    background: #4200FF;
    
}

.hit p{
    color: #F8FDFE;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; /* 150% */
}

.image-size{
    width: 178px;
    height: 280px;
    padding: ;
}

.block-list{
    display: flex;
    margin-bottom: 32px;
}

.block-list-2{
    display: flex;
    margin-top: 32px;

}

.block-list-3{
    display: flex;
    margin-top: 32px;
    margin-bottom: 120px;
}


.footer{
    display: flex;
    background-color: #4C394E;
    justify-content: space-between;
    height: 88px;   
}

.footer p{
    padding: 32px;
    color: #F8FDFE;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; /* 150% */
}

.chat{
    position: absolute;
    top: 20px;
    display: inline;
    justify-content: center;
    text-align: center;


}